/*background-image: linear-gradient(to right, #a997fa, #41c6fe);*/
/*#c9a  #a974d0  #c9a*/
/*#c9a  #a974d0  #c9a*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
img#center-img {
    display: block;
    margin: 0 auto;
}


header {
    height: 70px;
    display: block;
    margin: 10px auto;
    text-align: center;
    position: relative;
    top: 6%;
}

#header-bot {

}

header p {
    font-size: 15px;
    color: #777777;
    line-height: 70px;
    display: inline;
}


.divider {
    position: fixed;
    left: 25%;
    top: 41%;
    bottom: 25%;
    border-left: 1px solid #41c6fe;
    height: 20%;
}


#msg {
    border: 1px solid #41c6fe;
    border-radius: 35px;
    min-height: 30px;
    color: #41c6fe;
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 61%;
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;
    font-size: 14px;
    right: 170px;
}

input:focus {
    outline: none !important;
    color: #41c6fe;
}

button#send {
    background-image: linear-gradient(to right, #a997fa, #41c6fe);
    color: #fff;
    border-radius: 35px;
    width: 140px;
    height: 45px;
    font-size: 13pt;
    margin-bottom: 43px;
    transition: all ease-in-out 0.5s;
    position: fixed;
    bottom: -25px;
    right: 20px;
    border: none;
}


button:focus {
    outline: none !important;
}

button:hover {
    cursor: pointer;
}

ul#messages {
    list-style-type: none;
    margin-bottom: 70px;
    /*overflow-y: scroll;*/
    max-height: 62%;
    /*overflow-x: hidden;*/
    margin-top: 14%;
}

ul li.bot-msg {
    background-image: linear-gradient(to right, #41c6fe, #a997fa);
    padding: 10px;
    border-radius: 35px;
    margin: 7px;
    color: #fff;
    max-width: 50%;
    word-wrap: break-word;

}

ul li.user-msg {
    background-image: linear-gradient(to right, #a997fa, #41c6fe);
    padding: 10px;
    border-radius: 35px;
    margin: 7px;
    color: #fff;
    text-align: right;
    max-width: 50%;
    position: relative;
    right: -50%;
    word-wrap: break-word;
}

.fa-volume-up {
    float: right;
    cursor: pointer;
}

.fa-comment-alt {
    float: right;
    cursor: pointer;
    margin-right: 7px;
}

.fa-microphone {
    /*float: right;*/
    cursor: pointer;
    margin-bottom: 43px;
    transition: all ease-in-out 0.5s;
    position: fixed;
    bottom: -12px;
    right: 190px;
    border: none;
    color: #ccc
}

.fa-microphone:active {
    color: #41c6fe;
}

video {
    position: fixed;
    top:0%;
    right: 5%;
    border-radius: 19%
}

#bot img {
    width: 172%;
    height: 100%;
    margin-left: -52%;
    margin-top: 10%;
}

/*******************************modals style*******************************/

.modal-header .close{
    margin-left: 0;
    padding: 5px 5px 5px 0;
}

#modal-bot {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.modal-header, .modal-footer {
    border: none;
}
.modal-footer {
    display: block;
    margin: 10px auto;
}

.modal-body{
    text-align: center;
    padding-top: 0;
}

.btn {
    border: none;
    border-radius: 35px;
    width: 140px;
    height: 45px;
    font-size: 13pt;
}
.btn-primary {
    background-image: linear-gradient(to right, #a997fa, #41c6fe);
    color: #fff;
}

.yu2fvl-overlay{
    opacity: 0.2;
}

.bot-rates {
    display: block;
    margin: 10%;
    color: #ffcc36;
}

.rate-me {
    display: block;
}
.star {
    color: #ffcc36;
}

#welcome-bot-img {
    height: 748px;
}

#welcome-page-modal {
    overflow: hidden;
}
#welcome-page-modal .modal-dialog {
    max-width: 100%;
}

#welcome-page-modal .modal-content {
    border: none;
}
#welcome-page-modal .modal-body {
    position: relative;
    bottom: 29px;
    background-image: linear-gradient(to right, #a997fa , #41c6fe);
}

#welcome-page-modal ul {
    list-style-type: none;
}
#welcome-page-modal .bot-msg{
    background-image: linear-gradient(to right, #41c6fe, #a997fa);
    padding: 10px;
    border-radius: 35px;
    margin: 7px;
    word-wrap: break-word;
    position: relative;
    max-width: 96%;
    background: #fff;
    color: #777;
    opacity: 0.9;
}
#welcome-page-modal .bot-msgs {
    position: relative;
    float: right;
    width: 45%;
    top: 25%;
    right: 78px;
    font-size: 20px;
}

#welcome-page-modal .btn {
    border: none;
    border-radius: 35px;
    width: 124px;
    height: 37px;
    font-size: 13pt;
}
#welcome-page-modal .btn-primary, #welcome-page-modal .btn-primary:hover {
    background-image: linear-gradient(to right, #2b9ecf, #a997fa);
    color: #fff;
}

#welcome-page-modal .user-welcome-respone {
    position: relative;
    left: 31%;
    top: 30px;
}